/* ----------------------------------------------- */
/* Card styles
-------------------------------------------------- */

.race-card,
.class-card {
}

.race-card:hover,
.class-card:hover {
  border: 1px solid blue;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,136,255,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,136,255,1);
box-shadow: 0px 0px 10px 0px rgba(0,136,255,1);
}

.race-select-btn:hover {
  cursor: pointer;
}

/* ----------------------------------------------- */
/* Input styles
-------------------------------------------------- */

.input-invisible {
  text-align: center;
  border-left: none;
  border-right: none;
  border-top: none;
}

.input-invisible:focus {
  box-shadow: none;
}

.input-xl {
  font-size: 5rem;
  margin-bottom: 20px;
}

#randomize-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
}

.footer-content {
  margin-top: 20px;
  text-align: center;
}

/* Make compatible with fixed-to-top navbar */
body > .container,
body > .container-fluid {
  padding: 60px 15px 0;
}

.footer > .container,
.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

/* ----------------------------------------------- */
/* Navbar styles
-------------------------------------------------- */

.navbar {
  margin: 0px;
}

.navbar-padding {
  margin: 100px;
}
