.next {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ----------------------------------------------- */
/* Ability score table styles
-------------------------------------------------- */

.table-xl {
  font-size: 2em;
}

.table-xl td,
.table-xl th {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

.form-control.input-number-xl {
  font-size: 2rem;
  width: 10px;
}

#remaining-points {
  width: 60px;
  text-align: center;
}

.btn-number {
  background-color: transparent;
  color: #868E96;
}

.btn-number:focus {
  box-shadow: none;
}

.btn-number:hover {
  color: #343A40;
}

.btn-number:disabled:hover {
  color: #868E96;
  cursor: not-allowed;
}

/* ----------------------------------------------- */
/* Card styles
-------------------------------------------------- */

.race-card,
.class-card {
}

.race-card:hover,
.class-card:hover {
  border: 1px solid blue;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,136,255,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,136,255,1);
box-shadow: 0px 0px 10px 0px rgba(0,136,255,1);
}

.race-select-btn:hover {
  cursor: pointer;
}

.subraces {
  display: none !important;
}

.race-card:hover .main-race {
  display: none !important;
}

.race-card:hover .subraces {
  display: flex !important;
}

.list-group-condensed .list-group-item {
  padding: .25rem 1.25rem;
}

.card-info {
  width: 100%;
}

/* ----------------------------------------------- */
/* Input styles
-------------------------------------------------- */

.input-invisible {
  text-align: center;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}

.input-invisible:focus {
  box-shadow: none;
  background-color: transparent;
}

.input-xl {
  font-size: 5rem;
  margin-bottom: 20px;
}

/* ----------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
}

.footer-content {
  margin-top: 20px;
  text-align: center;
}

/* Make compatible with fixed-to-top navbar */
body > .container,
body > .container-fluid {
  padding: 60px 15px 0;
}

.footer > .container,
.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

/* ----------------------------------------------- */
/* Navbar styles
-------------------------------------------------- */

.navbar {
  margin: 0px;
}

.navbar-padding {
  margin: 100px;
}
