---
layout: default
---

<div class="container">

  <div class="page-header">
    <h1>Template</h1>
  </div>
  
  <form class="form">

      <!-- Begin Name -->
      <div class="form-group hide">
        <label>Name</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter a name...">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-random"></span></button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- End Name -->
      
      {% include race.html %}
      {% include class.html %}
      {% include alignment.html %}
      <div class="row">
        <div class="col-md-6">
          {% include abilityscores.html %}
        </div>
        <div class="col-md-6">
          {% include skills.html %}
        </div>
      </div>
      
    </form>

</div>