---
layout: default
---

<div class="container">

    <div class="row">
      <div class="col">

        <div class="row">

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card race-card mb-4">
              <img class="card-img-top" src="http://via.placeholder.com/1200x900" alt="Card image cap">
              <div class="card-body text-center">

                <div class="d-flex main-race">
                  <div class="card-info">
                    <h5 class="card-title">Dwarf</h5>
                    <ul class="list-group list-group-condensed">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <!-- <button class="btn btn-outline-primary race-select-btn">Select</button> -->
                  </div>
                </div>

                <div class="d-flex subraces">
                  <div class="card-info">
                    <h5>Mountain</h5>
                    <p>Mountain dwarves are strong and hardy, accustomed to a difficult life in rugged terrain.</p>
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-outline-primary">Select</button>
                      <button type="button" class="btn btn-outline-primary">Info</button>
                    </div>
                  </div>
                  <div class="card-info">
                    <h5>Hill</h5>
                    <p>Hill dwarves have keen senses, deep intuition, and remarkable resilience.</p>
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-outline-primary">Select</button>
                      <button type="button" class="btn btn-outline-primary">Info</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


          {% include race-card.html %}

          {% include race-card.html %}

          {% include race-card.html %}

          {% include race-card.html %}

          {% include race-card.html %}

          {% include race-card.html %}

          {% include race-card.html %}

          {% include race-card.html %}

        </div>

      </div>
    </div>

    {% include next.html %}

</div>
