<!-- Begin Alignments -->
<div class="row">
  <div class="form-group col-sm-3">
    <label class="control-label">Alignment</label>
    <div class="alignment-grid">
      <div class="good alignment-row">
        <button id="lg" class="btn btn-default lawful">LG</button>
        <button id="ng" class="btn btn-default neutral-lc">NG</button>
        <button id="cg" class="btn btn-default chaotic">CG</button>
      </div>
      <div class="neutral-ge alignment-row">
        <button id="ln" class="btn btn-default lawful">LN</button>
        <button id="tn" class="btn btn-default neutral-lc">TN</button>
        <button id="cn" class="btn btn-default chaotic">CN</button>
      </div>
      <div class="evil alignment-row">
        <button id="le" class="btn btn-default lawful">LE</button>
        <button id="ne" class="btn btn-default neutral-lc">NE</button>
        <button id="ce" class="btn btn-default chaotic">CE</button>
      </div>
    </div>
    <div class="btn-group-vertical alignment-misc" role="group">
      <button id="align-none" class="btn btn-default active">No alignment</button>
      <button id="align-custom" class="btn btn-default">Custom alignment</button>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading collapsable-trigger">
        <strong>Alignment Description</strong> <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </div>
      <div class="panel-body alignment-descriptions collapsable">
        <p class="form-control-static lg-desc hidden"><strong>Lawful Good</strong> creatures can be counted on to do the right thing as expected by society. Gold dragons, paladins, and most dwarves are lawful good.</p>
        <p class="form-control-static ng-desc hidden"><strong>Neutral Good</strong> folk do the best they can to help others according to their needs. Many celestials, some cloud giants, and most gnomes are neutral good.</p>
        <p class="form-control-static cg-desc hidden"><strong>Chaotic Good</strong> creatures act as their conscience directs, with little regard for what others expect. Copper dragons, many elves, and unicorns are chaotic good.</p>
        <p class="form-control-static ln-desc hidden"><strong>Lawful Neutral</strong> individuals act in accordance with law, tradition, or personal codes. Many monks and some wizards are lawful neutral.</p>
        <p class="form-control-static tn-desc hidden"><strong>True Neutral</strong> is the alignment of those who prefer to steer clear of moral questions and don’t take sides, doing what seems best at the time. Lizardfolk, most druids, and many humans are neutral.</p>
        <p class="form-control-static cn-desc hidden"><strong>Chaotic Neutral</strong> creatures follow their whims, holding their personal freedom above all else. Many barbarians and rogues, and some bards, are chaotic neutral.</p>
        <p class="form-control-static le-desc hidden"><strong>Lawful Evil</strong> creatures methodically take what they want, within the limits of a code of tradition, loyalty, or order. Devils, blue dragons, and hobgoblins are lawful evil.</p>
        <p class="form-control-static ne-desc hidden"><strong>Neutral Evil</strong> is the alignment of those who do whatever they can get away with, without compassion or qualms. Many drow, some cloud giants, and goblins are neutral evil.</p>
        <p class="form-control-static ce-desc hidden"><strong>Chaotic Evil</strong> creatures act with arbitrary violence, spurred by their greed, hatred, or bloodlust. Demons, red dragons, and orcs are chaotic evil.</p>
        <div class="align-custom-desc hidden">
          <textarea class="form-control" rows="3" placeholder="Enter custom alignment description..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Alignments-->