<!-- Begin Alignments -->
<div class="row">
  <div class="form-group col-sm-3">
    <label class="control-label">Alignment</label>
    <div class="alignment-grid">
      <div class="good alignment-row">
        <button id="lg" class="btn btn-default lawful">LG</button>
        <button id="ng" class="btn btn-default neutral-lc">NG</button>
        <button id="cg" class="btn btn-default chaotic">CG</button>
      </div>
      <div class="neutral-ge alignment-row">
        <button id="ln" class="btn btn-default lawful">LN</button>
        <button id="tn" class="btn btn-default neutral-lc">TN</button>
        <button id="cn" class="btn btn-default chaotic">CN</button>
      </div>
      <div class="evil alignment-row">
        <button id="le" class="btn btn-default lawful">LE</button>
        <button id="ne" class="btn btn-default neutral-lc">NE</button>
        <button id="ce" class="btn btn-default chaotic">CE</button>
      </div>
    </div>
    <div class="btn-group-vertical alignment-misc" role="group">
      <button id="align-none" class="btn btn-default active">No alignment</button>
      <button id="align-custom" class="btn btn-default">Custom alignment</button>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading collapsable-trigger">
        <strong>Alignment Description</strong> <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </div>
      <div class="panel-body alignment-descriptions collapsable">
        <p class="form-control-static lg-desc hidden"><strong>Lawful Good.</strong> Lorem ipsum dolor sit amet, sed ad oratio dicant, modus altera scripserit ut qui. Tale omnium ex sea, ut mea labore patrioque adversarium, dico definitionem ad mea. Verear officiis imperdiet ut sea, eam an quodsi
          impetus inimicus. Usu vero aliquam senserit ex, usu at utinam aliquam assueverit, pro ne movet conceptam inciderint.</p>
        <p class="form-control-static ng-desc hidden"><strong>Neutral Good.</strong> His sale tritani maluisset at, suavitate mnesarchum sea at, no his vidit accusam. Ius verear audire labitur et, postea nonumes ei pri, eos virtute vituperatoribus ad. Ne vel inani persius ocurreret, liber honestatis
          referrentur mel ea. Id vix fabellas ocurreret. Probo affert sed an, inermis maiestatis ei usu.</p>
        <p class="form-control-static cg-desc hidden"><strong>Chaotic Good.</strong> Eros aperiam aliquam eos ea, pro cu novum accusamus, ne iusto deterruisset vel. Errem vidisse euripidis qui ne. Mel oportere erroribus percipitur ei, an nam iusto delectus. Id est iisque splendide, has odio
          doctus necessitatibus te. Ius ridens officiis ex, mea quot case falli et, eu numquam prodesset inciderint mea. Minimum intellegat mel ut, nec te dictas iriure necessitatibus.</p>
        <p class="form-control-static ln-desc hidden"><strong>Lawful Neutral.</strong> Pri id facer vivendo urbanitas. Quo nobis constituam te, tacimates constituam nam ei. Sit legimus oportere ex. Te ferri voluptatibus vim, in commodo tamquam oportere sea.
        </p>
        <p class="form-control-static tn-desc hidden"><strong>True Neutral.</strong> Lorem ipsum dolor sit amet, sed ad oratio dicant, modus altera scripserit ut qui. Tale omnium ex sea, ut mea labore patrioque adversarium, dico definitionem ad mea. Verear officiis imperdiet ut sea, eam an
          quodsi impetus inimicus. Usu vero aliquam senserit ex, usu at utinam aliquam assueverit, pro ne movet conceptam inciderint.</p>
        <p class="form-control-static cn-desc hidden"><strong>Chaotic Neutral.</strong> His sale tritani maluisset at, suavitate mnesarchum sea at, no his vidit accusam. Ius verear audire labitur et, postea nonumes ei pri, eos virtute vituperatoribus ad. Ne vel inani persius ocurreret, liber
          honestatis referrentur mel ea. Id vix fabellas ocurreret. Probo affert sed an, inermis maiestatis ei usu.</p>
        <p class="form-control-static le-desc hidden"><strong>Lawful Evil.</strong> Eros aperiam aliquam eos ea, pro cu novum accusamus, ne iusto deterruisset vel. Errem vidisse euripidis qui ne. Mel oportere erroribus percipitur ei, an nam iusto delectus. Id est iisque splendide, has odio
          doctus necessitatibus te. Ius ridens officiis ex, mea quot case falli et, eu numquam prodesset inciderint mea. Minimum intellegat mel ut, nec te dictas iriure necessitatibus.</p>
        <p class="form-control-static ne-desc hidden"><strong>Neutral Evil.</strong> Pri id facer vivendo urbanitas. Quo nobis constituam te, tacimates constituam nam ei. Sit legimus oportere ex. Te ferri voluptatibus vim, in commodo tamquam oportere sea.
        </p>
        <p class="form-control-static ce-desc hidden"><strong>Chaotic Evil.</strong> Lorem ipsum dolor sit amet, sed ad oratio dicant, modus altera scripserit ut qui. Tale omnium ex sea, ut mea labore patrioque adversarium, dico definitionem ad mea. Verear officiis imperdiet ut sea, eam an
          quodsi impetus inimicus. Usu vero aliquam senserit ex, usu at utinam aliquam assueverit, pro ne movet conceptam inciderint.</p>
        <div class="align-custom-desc hidden">
          <textarea class="form-control" rows="3" placeholder="Enter custom alignment description..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Alignments-->