<!-- Begin Class -->
<div class="row">
  <div class="form-group col-sm-3">
    <label>Class</label>
    <select class="form-control class-select">
      <option id="class-default">Select a class...</option>
      {% for class in site.classes %}
      <option id="class-{{class.name | downcase}}" data-desc="{{class.name | downcase}}-desc">{{class.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-sm-9">
    <label class="control-label">Class Description</label>
    <div id="class-well" class="well">
      {% for class in site.classes %}
      <p class="form-control-static class-desc {{class.name | downcase}}-desc hidden">{{class.description}}</p>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Class -->