<!-- Begin Class -->
<div class="row">
  <div class="form-group col-sm-3">
    <label>Class</label>
    <select class="form-control class-select">
      <option id="class-default">Select a class...</option>
      <option id="class-fighter">Fighter</option>
      <option id="class-cleric">Cleric</option>
      <option id="class-rogue">Rogue</option>
      <option id="class-wizard">Wizard</option>
    </select>
  </div>
  <div class="form-group col-sm-9">
    <label class="control-label">Class Description</label>
    <div class="well">
      <p class="form-control-static fighter-desc hidden"><strong>Slice 'em, dice 'em, no sense bein' nice to 'em.</strong> Lorem ipsum dolor sit amet, sed ad oratio dicant, modus altera scripserit ut qui. Tale omnium ex sea, ut mea labore patrioque adversarium, dico definitionem ad mea. Verear officiis
        imperdiet ut sea, eam an quodsi impetus inimicus. Usu vero aliquam senserit ex, usu at utinam aliquam assueverit, pro ne movet conceptam inciderint.</p>
      <p class="form-control-static cleric-desc hidden"><strong>Everyone loves the healer.</strong> His sale tritani maluisset at, suavitate mnesarchum sea at, no his vidit accusam. Ius verear audire labitur et, postea nonumes ei pri, eos virtute vituperatoribus ad. Ne vel inani persius ocurreret,
        liber honestatis referrentur mel ea. Id vix fabellas ocurreret. Probo affert sed an, inermis maiestatis ei usu.</p>
      <p class="form-control-static rogue-desc hidden"><strong>Pay no attention to your missing valuables.</strong> Eros aperiam aliquam eos ea, pro cu novum accusamus, ne iusto deterruisset vel. Errem vidisse euripidis qui ne. Mel oportere erroribus percipitur ei, an nam iusto delectus. Id est
        iisque splendide, has odio doctus necessitatibus te. Ius ridens officiis ex, mea quot case falli et, eu numquam prodesset inciderint mea. Minimum intellegat mel ut, nec te dictas iriure necessitatibus.</p>
      <p class="form-control-static wizard-desc hidden"><strong>Magic 'n stuff.</strong> Pri id facer vivendo urbanitas. Quo nobis constituam te, tacimates constituam nam ei. Sit legimus oportere ex. Te ferri voluptatibus vim, in commodo tamquam oportere sea.
      </p>
    </div>
  </div>
</div>
<!-- End Class -->