<div class="input-group">
  <span class="input-group-btn input-minus">
    <button type="button" class="btn btn-number" disabled="disabled" data-type="minus" data-field="str-input">
      <span class="oi oi-minus"></span>
    </button>
  </span>
  <input type="text" name="str-input" class="form-control input-invisible input-number input-number-xl" value="8" min="8" max="15" data-cost="0" data-last-value="8" maxlength="2" tabindex="1">
  <span class="input-group-btn input-plus">
    <button type="button" class="btn btn-number" data-type="plus" data-field="str-input">
      <span class="oi oi-plus"></span>
    </button>
  </span>
</div>
