<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card race-card mb-4">
    <img class="card-img-top" src="http://via.placeholder.com/1200x900" alt="Card image cap">
    <div class="card-body text-center d-flex main-race">
      <div>
        <h5 class="card-title">Race</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-outline-primary race-select-btn">Select</button>
      </div>      
    </div>

    <div class="card-body text-center d-flex subraces">
      <div>
        <h5 class="">Race</h5>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-outline-primary race-select-btn">Select</button>
      </div>
      <div>
        <h5 class="">Race</h5>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-outline-primary race-select-btn">Select</button>
      </div>
    </div>

  </div>
</div>
