<!-- Begin Race -->
<div class="row">
  <div class="form-group col-sm-3">
    <label>Race</label>
    <select class="form-control race-select">
      <option id="race-default">Select a race...</option>
      <option id="race-human">Human</option>
      <option id="race-elf">Elf</option>
      <option id="race-dwarf">Dwarf</option>
      <option id="race-halfling">Halfling</option>
    </select>
  </div>
  <div class="form-group col-sm-9">
    <label class="control-label">Race Description</label>
    <div class="well">
      <p class="form-control-static human-desc hidden"><strong>Humans are the best.</strong> Lorem ipsum dolor sit amet, sed ad oratio dicant, modus altera scripserit ut qui. Tale omnium ex sea, ut mea labore patrioque adversarium, dico definitionem ad mea. Verear officiis imperdiet ut sea, eam
        an quodsi impetus inimicus. Usu vero aliquam senserit ex, usu at utinam aliquam assueverit, pro ne movet conceptam inciderint.</p>
      <p class="form-control-static elf-desc hidden"><strong>Elves are beautiful majestic creatures.</strong> His sale tritani maluisset at, suavitate mnesarchum sea at, no his vidit accusam. Ius verear audire labitur et, postea nonumes ei pri, eos virtute vituperatoribus ad. Ne vel inani persius
        ocurreret, liber honestatis referrentur mel ea. Id vix fabellas ocurreret. Probo affert sed an, inermis maiestatis ei usu.</p>
      <p class="form-control-static dwarf-desc hidden"><strong>Dwarves are gruff and stout.</strong> Eros aperiam aliquam eos ea, pro cu novum accusamus, ne iusto deterruisset vel. Errem vidisse euripidis qui ne. Mel oportere erroribus percipitur ei, an nam iusto delectus. Id est iisque splendide,
        has odio doctus necessitatibus te. Ius ridens officiis ex, mea quot case falli et, eu numquam prodesset inciderint mea. Minimum intellegat mel ut, nec te dictas iriure necessitatibus.</p>
      <p class="form-control-static halfling-desc hidden"><strong>Halflings are short.</strong> Pri id facer vivendo urbanitas. Quo nobis constituam te, tacimates constituam nam ei. Sit legimus oportere ex. Te ferri voluptatibus vim, in commodo tamquam oportere sea.
      </p>
    </div>
  </div>
</div>
<!-- End Race -->