<!-- Begin Race -->
<div class="row">
  <div class="form-group col-sm-3">
    <label>Race</label>
    <select class="form-control race-select">
      <option id="race-default">Select a race...</option>
      {% for race in site.races %}
      <option id="race-{{race.name | remove: ')' | remove: '(' | replace: ' ', '-' | downcase}}" data-desc="{{race.name | remove: ')' | remove: '(' | replace: ' ', '-' | downcase}}-desc">{{race.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-sm-9">
    <label class="control-label">Race Description</label>
    <div id="race-well" class="well">
      {% for race in site.races %}
      <p class="form-control-static race-desc {{race.name | remove: ')' | remove: '(' | replace: ' ', '-' | downcase}}-desc hidden">{{race.description}}</p>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Race -->